header{
    width: 100%;
    background-color: #fff;
    box-shadow: 1px 0px 10px rgba(161, 161, 161, .7);
    padding: 10px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap:wrap;
}

/*--LOGO--*/
header .logo{
    width:80px;
    display:block;
}

header .logo img{
    max-width:100%;
    display:block;
}

/*--HEADER-NAV --*/
header .header-nav{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color: rgba(149, 114, 85, .7);
    z-index:1;
    display:none;/*si se cambia a 'block' se ve el menu en celular y tablet*/
}


header .header-nav .btn-cerrarMenu{
    position: absolute;
    top:10px;
    right:10px;
    z-index:3;
}

header .header-nav .btn-cerrarMenu i{
    font-size:1.8em
}

header .header-nav nav{
    position: absolute;
    top:0;
    right:0;
    width: 60%;
    height: 100vh;
    background-color:#fff;
    padding: 40px 0 0;
    z-index:2;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:flex-start;
}

header .header-nav nav ul{
    width: 90%;
}

header .header-nav nav li{
    text-align: center;
    margin: 10px 0;
    padding: 8px;
}

header .header-nav nav li a{
    padding: 8px;
    font-family: 'Bebas Neue', cursive;
    font-size:1.1em;
}

header .header-nav nav li a i{
    padding: 8px 0 4px;
    font-size:1.3em;
    color:var(--marron);
}

/*--BUSQUEDA--*/

header .header-nav .busqueda{
    width: 90%;
    margin: 30px auto;
    position: relative;
}

header .header-nav .busqueda input{
    width: 100%;
    background-color: #fff;
    border:0;
    border-bottom: 3px solid var(--grisOscuro);
    padding: 5px 8px;
    color:var(--marron);
}

header .header-nav .busqueda i{
    position: absolute;
    bottom: 8px;
    right: 6px;
    color:var(--grisOscuro);
    cursor:pointer;
    background-color:#fff;
    padding:0 8px;
}


/*--USUARTIO-NAV--*/

header .header-nav .usuario-nav li{
    margin: 3px 0;
}

header .header-nav .usuario-nav li a{
    margin: 3px 0;
    font-family: 'Noto Sans KR', sans-serif;
    text-transform: capitalize;
    font-size:1em;
}

header .btns-menu{
    display:flex;
    justify-content:center;
    align-items: flex-end;
}

/*--BTN-CARRITO--*/

header .btn-carrito, header .btn-menu, header .btn-user{
    padding: 5px 10px;
    font-size: 2em;
}
header .btn-carrito i{
    color: var(--grisOscuro)!important;
}

header .btn-user a{
    color:  var(--marron);
}


/*---MEDIA QUERY---*/
/*--tablet--*/

@media (min-width : 768px){}

/*--desktop--*/

@media (min-width : 1024px){
    header{
        padding: 15px 60px;
        align-items: flex-end;
        flex-wrap:nowrap;
    }

    /*--LOGO--*/
    header .logo{
        width:80px;
    }

    /*--HEADER-NAV --*/
    header .header-nav{
        position: relative;
        top:inherit;
        left:inherit;
        width: 70%;
        height: inherit;
        background-color:#fff;
        display:block;
    }

    header .header-nav .btn-cerrarMenu{
        display:none;
    }

    header .header-nav nav{
        position: relative;
        top:inherit;
        left:inherit;
        width: 100%;
        height: inherit;
        padding: 0;
        flex-direction: column-reverse;
        justify-content:space-between;
    }

    header .header-nav nav ul{
        width: 100%;
        display:flex;
        justify-content: space-between;
        align-items:center;
    }
    
    header .header-nav nav li{
        margin: 0;
        padding: 0;
    }

    header .header-nav nav li a{
        font-size:1.3em;
        transition: color .5s
    }

    header .header-nav nav li a:hover{
        color: var(--marron);
    }

    header .header-nav nav li a i{
        display:none;
    }

    /*--BUSQUEDA--*/

    header .header-nav .busqueda{
        width: 180px;
        margin: 0 0 12px 30px;
    }

    /*--USUARIO-NAV--*/

    /*header .header-nav .usuario-nav{
        margin:0 0 30px;
        padding: 0;
        border-top:0;
        justify-content: flex-end;
    }

    header .header-nav .usuario-nav li{
        margin: 0;
    }

    header .header-nav .usuario-nav li:nth-child(2){
        border-right: 2px dashed var(--marron);
    }
    
    header .header-nav .usuario-nav li a{
        margin: 0;
        padding: 10px;
    }*/

    header .btns-menu a{
        padding:5px;
    }

    /*--BTN-CARRITO--*/

    header .btn-carrito, header .btn-user{
        padding: 8px;
        font-size: 1.6em;
    }
    

    header .btn-menu{display:none;}
}

@media (min-width : 1440px){
    /*--LOGO--*/
    header .logo{
        width:100px;
    }
    /*--HEADER-NAV --*/
    header .header-nav{
        width: 70%;
    }

    header .header-nav nav li a{
        font-size:1.5em;
        transition: color .5s
    }

    /*--BUSQUEDA--*/
    header .header-nav .busqueda{
        width: 230px;
        margin: 0 0 12px 30px;
    }
}