<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lazlo - HOME</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/sprint2/public/css/home.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        <a href="/" class="logo">
            <img src="images/logo.png" alt="">
        </a>
        <aside class="header-nav">
            <div class="btn-cerrarMenu">
                <i class="fas fa-times"></i>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Mochilas</a></li>
                    <li><a href="#">Indumentaria</a></li>
                    <li><a href="#">Historia</a></li>
                    <li><a href="#">Comunidad</a></li>

                    <form action="" class="busqueda">
                        <input type="search" name="busqueda" id="busqueda" placeholder="">
                        <i class="fas fa-search"></i>
                    </form>
                </ul>
            </nav>
        </aside>
        <div class="btns-menu">
            <div class="btn-user">
                <a href="/login"><i class="fas fa-user"></i></a>
            </div>
            <div class="btn-carrito">
                <a href="/carrito"><i class="fas fa-shopping-bag"></i></a>
            </div>
            <div class="btn-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </header>


    <main>
        <article>
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/images/blog-header.jpg" class="d-block w-100" alt="imagen carousel">
                    </div>
                </div>
        </article>

    </main>
</body>

</html>