<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/sprint2/public/css/home.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://boxicons.com/">
    <link rel="stylesheet" href="/https://fonts.google.com/">
</head>

<body>
    <div class="home">
        <header>
            <img class="logo" src="/images/logoOscuro.png.png" alt="">
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>

            <nav>
                <ul class="ingresos">
                    <ol><a href="#">Mochilas</a></ol>
                    <ol><a href="#">Indumentaria</a></ol>
                    <ol><a href="#">Historia</a></ol>
                    <ol><a href="">comunidad</a></ol>
                </ul>
                

            </nav>
    </div>
    </header>
</body>

</html>