@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

li{list-style:none;}

a{
    text-decoration: none;
    color: var(--grisOscuro)
}

:root{
    --marron:#957255;
    --grisOscuro: #181913;
    --grisClaro:#dedcdc;
}

