header{
    width: 100%;
    background-color: #fff;
    box-shadow: 1px 0px 10px rgba(161, 161, 161, .7);
    padding: 10px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap:wrap;
}

/*--LOGO--*/
header .logo{
    width:100px;
    display:block;
}

header .logo img{
    max-width:100%;
    display:block;
}

/*--headerNav  --*/
header .headerNav {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color: rgba(149, 114, 85, .7);
    z-index:1;
    display:none;/*si se cambia a 'block' se ve el menu en celular y tablet*/
}


header .headerNav  .btn-cerrarMenu{
    position: absolute;
    top:10px;
    right:10px;
    z-index:3;
}

header .headerNav  .btn-cerrarMenu i{
    font-size:1.8em
}

header .headerNav  nav{
    position: absolute;
    top:0;
    right:0;
    width: 60%;
    height: 100vh;
    background-color:#fff;
    padding: 40px 0 0;
    z-index:2;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:flex-start;
}

header .headerNav  nav ul{
    width: 90%;
    margin: 0;
}

header .headerNav  nav li{
    text-align: center;
    margin: 10px 0!important;
    padding: 8px;
}

header .headerNav nav li a{
    padding: 8px!important;
    font-family: 'Bebas Neue', cursive;
    font-size:1.1em;
    color:var(--grisOscuro) !important; 
    text-decoration:none !important;
}

header .headerNav nav li a i{
    padding: 8px 0 4px;
    font-size:1.3em;
    color:var(--marron);
}

/*--BUSQUEDA--*/

header .headerNav  .busqueda{
    width: 90%;
    margin: 30px auto;
    position: relative;
}

header .headerNav  .busqueda input{
    width: 100%;
    background-color: #fff;
    border:0;
    border-bottom: 3px solid var(--grisOscuro);
    padding: 5px 8px;
    color:var(--marron);
}

header .headerNav  .busqueda button{
    position: absolute;
    bottom: 8px;
    right: 6px;
    color:var(--grisOscuro);
    cursor:pointer;
    background-color:#fff;
    padding:0 8px;
    border:none
}

header .headerNav  .busqueda i{
    color:var(--grisOscuro);
}

/*--USUARTIO-NAV--*/

header .headerNav  .usuario-nav li{
    margin: 3px 0;
    color:var(--grisOscuro) !important; 
}

header .headerNav  .usuario-nav li a{
    margin: 3px 0;
    font-family: 'Noto Sans KR', sans-serif;
    text-transform: capitalize;
    font-size:1em;
    color:var(--grisOscuro) !important;
}

header .btns-menu{
    display:flex;
    justify-content:center;
    align-items: flex-end;
}

/*--BTN-CARRITO--*/

header .btn-carrito, header .btn-menu, header .btn-user{
    padding: 5px 10px;
    font-size: 2em;
}
header .btn-carrito{
    border: none;
    background-color: transparent;
    position: relative;
}

header .btn-carrito i{
    color: var(--grisOscuro) !important;
}

.badge.cantidad{
    background-color: var(--marron);
    border-radius: 50%;
    padding: 3px 5px;
position: absolute;
right: 2px;
bottom: 2px;
font-size: 15px;
}

header .btn-user a{
    color:  var(--marron);
}

.btn-profile{
    margin:10px;
}

.btn-profile  a{
    width: 60px;
    display:block;
    text-decoration: none;
    padding: 0 !important;
} 

.avatar-usuario img{
    width: 25px;
    height: 25px;
    display:block;
    margin:0 auto;
    border-radius: 50%;
}

.avatar-usuario h2{
    font-size: 12px;
    color:var(--marron);
    margin:3px auto 0 ;  
    text-align: center;  
}

/*---MEDIA QUERY---*/
/*--tablet--*/

@media (min-width : 768px){}

/*--desktop--*/

@media (min-width : 1024px){
    header{
        padding: 15px 60px;
        align-items: flex-end;
        flex-wrap:nowrap;
    }

    /*--LOGO--*/
    header .logo{
        width:150px;
    }

    /*--headerNav  --*/
    header .headerNav {
        position: relative;
        top:inherit;
        left:inherit;
        width: 70%;
        height: inherit;
        background-color:#fff;
        display:block;
    }

    header .headerNav  .btn-cerrarMenu{
        display:none;
    }

    header .headerNav  nav{
        position: relative;
        top:inherit;
        left:inherit;
        width: 100%;
        height: inherit;
        padding: 0;
        flex-direction: column-reverse;
        justify-content:space-between;
    }

    header .headerNav  nav ul{
        width: 100%;
        display:flex;
        justify-content: space-between;
        align-items:center;
    }
    
    header .headerNav  nav li{
        margin: 0 !important;
        padding: 0;
    }

    header .headerNav  nav li a{
        font-size:1.3em;
        transition: color .5s
    }

    header .headerNav  nav li a:hover{
        color: var(--marron);
    }

    header .headerNav  nav li a i{
        display:none;
    }

    /*--BUSQUEDA--*/

    header .headerNav  .busqueda{
        width: 180px;
        margin: 0 0 12px 30px;
    }

    /*--USUARIO-NAV--*/

    /*header .headerNav  .usuario-nav{
        margin:0 0 30px;
        padding: 0;
        border-top:0;
        justify-content: flex-end;
    }

    header .headerNav  .usuario-nav li{
        margin: 0;
    }

    header .headerNav  .usuario-nav li:nth-child(2){
        border-right: 2px dashed var(--marron);
    }
    
    header .headerNav  .usuario-nav li a{
        margin: 0;
        padding: 10px;
    }*/

    header .btns-menu a{
        padding:5px;
    }

    /*--BTN-CARRITO--*/

    header .btn-carrito, header .btn-user{
        padding: 8px;
        font-size: 1.6em;
    }
    

    header .btn-menu{display:none;}
}

@media (min-width : 1440px){
    /*--LOGO--*/
    header .logo{
        width:150px;
    }
    /*--headerNav  --*/
    header .headerNav {
        width: 70%;
    }

    header .headerNav  nav li a{
        font-size:1.5em;
        transition: color .5s
    }

    /*--BUSQUEDA--*/
    header .headerNav  .busqueda{
        width: 230px;
        margin: 0 0 12px 30px;
    }
}