body main {
    background-color: blanchedalmond;
    border: black;
  }
  
  body main .contenedor {
    background-color: rgb(245, 239, 231);
    padding: 10px;
  }
  body main .contenedorImagen {
    text-align: center;
    flex-direction: row;
  }
  .contenedorImagen img {
    width: 100%;
  }
  .contenedor .descripcion {
    text-align: center;
    padding: 20px;
  }
  
  @media (min-width: 768px) {
    .contenedor {
      background-color: rgb(245, 239, 231);
      display: flex;
    }
    body main .contenedorImagen {
      text-align: center;
  
      width: 50%;
    }
    .contenedorImagen img {
      width: 100%;
      height: 100%;
    }
    .contenedor .descripcion {
      text-align: center;
      padding: 20px;
      width: 50%;
    }
  }
  
  @media (min-width: 1024px) {
      .contenedor {
          background-color: rgb(245, 239, 231);
          display: flex;
        }
        body main .contenedorImagen {
          text-align: center;
         
          width: 50%;
        }
        .contenedorImagen img {
          width: 100%;
          height: 100%;
        }
        .contenedor .descripcion {
          text-align: center;
          padding: 20px;
          width: 50%;
        }
  }
  