/*CAROUSEL*/
section main .carousel-slide {
    padding: 1px;
    width: 100%;
}
main .carousel-slide img {
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    height: 398px;
}

/*Titulo del medio*/

.Productos h1 {
    font-family: 'Bebas Neue', cursive;
    margin: 15px 20px 0;
    font-size: 36px;
    text-align: center;
}
/*IMAGENES DEl PRODUCTOS*/

.imagenes-productos {
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
}


.imagenes-productos article {
    width: 44%;
    position: relative;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid var(--marron);
    padding: 20px; 
}

.imagenes-productos article img {
    object-fit: cover;
    width: 100%;
    height: 206px;
    border-radius: 6px;
    display: block;
}
.imagenes-productos article img:hover{
    opacity: .8;
    box-shadow: 0 0 1px rgba(87, 87, 87, .7);
}

.imagenes-productos article .boton-ver-mas{
    text-decoration: none;
    color: #fff;
    background-color: var(--marron);
    padding: 4px 11px;
    border-radius: 5px;
    display: block;
    position: absolute;
    bottom: 19px;
    left: 50%;
    transform: translate(-50%);
    transition: opacity .5s, box-shadow .5s;
    cursor:pointer;
}
.imagenes-productos article .boton-ver-mas:hover{
    opacity: .8;
    box-shadow: 0 0 1px rgba(87, 87, 87, .7);
}
#tarjetaProducto1{
    background-image:url(../images/mochila-home-1.jpg) ;
    background-size: cover;
}
#tarjetaProducto2{
    background-image:url(../images/arbol..jpg) ;
    background-size: cover;
}
#tarjetaProducto3{
    background-image:url(../images/mochila-home-2.jpg) ;
    background-size: cover;
}
#tarjetaProducto4{
    background-image:url(../images/mochila-home-3.jpg) ;
    background-size: cover;
}

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
    margin: 20px auto;
    background-color: transparent;
    width: 250px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
      display: block;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  .flip-box-front h2{
    display: block;
    color: #f1f1f1
}
  
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    padding: 15px;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side */
  .flip-box-front {
      display: flex;
      justify-content: center;
      align-items: center;
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-box-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--marron);
    color: white;
    transform: rotateY(180deg);
  }

/*BANNER DE PIE

.banner-final {
    padding: 1px;
    width: 100%;
    position: relative;
}

.banner-final article img{
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.banner-final h2{
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    position: absolute;
    top: 20px;
    left: 10px;
}

.banner-final .boton-ver-mas{
    text-decoration: none;
    color: #fff;
    background-color: var(--marron);
    padding: 6px 14px;
    border-radius: 10px;
    display: block;
    position: absolute;
    bottom: 76px;
    right: 40px;
    cursor:pointer;
}

.banner-final.boton-ver-mas:hover{
    opacity: .8;
    box-shadow: 0 0 1px rgba(87, 87, 87, .7);
}*/

/* -- BANNER VIDEO --*/

.video{
    width: 100%;
    height: 60vh;
    margin: 80px 0;
    overflow: hidden;
    position: relative;
}

video {
    object-fit: cover;
    width: 100%;
    height: 60vh;
    position: absolute;
    top: 0;
    left: 0;
    object-position: bottom;
}

.video h2{
    position: absolute;
    top: 50%;
    right: 10px;
    color: #fff;
    transform: translate(-50%);
}

/*-- CARRUCEL DE PRODUCTOS --*/

.home .productosRelacionados{
    margin: 30px auto 0;
}

.home .productosRelacionados h2{
    margin:40px 0;
    text-align: center;
    font-size: 46px;
    font-family: 'Bebas Neue', cursive;
}

.home .productosRelacionados .relacionado{
    display:flex;
    justify-content: space-between;
    align-items:stretch;
    flex-direction: column;
    border: 2px solid var(--marron);
    padding: 20px; 
}

.relacionadoContenedor{
    text-decoration: none;
}

.imagenRelacionado img{
    display: block;
    margin: 0 auto;
}

.detalleRelacionado h3, .detalleRelacionado h4{
    color: var(--grisOscuro);
    text-decoration: none;    
}

.relacionado h3{
    font-size: 1.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.glide__arrow{
    border-color: var(--grisOscuro)  !important;
    color:var(--grisOscuro)  !important;
}

.home .productosRelacionados .relacionado .detalleRelacionado{
    margin: 20px 0 0;
    padding: 20px 0 0; 
    border-top: 2px dashed var(--marron);
}

.home .productosRelacionados .relacionado .detalleRelacionado h3{
    margin: 0 0 10px;
}

.home .productosRelacionados .relacionado .imagenRelacionado{
    height: 260px;
}

.home .productosRelacionados .relacionado .imagenRelacionado img{
    height: 250px;
    margin: 5px auto;
}



/*--tablet--*/

@media (min-width : 768px){
    .flip-box-front h2{
        display: block;
    }
    .imagenes-productos article img {
        height: 280px;
        border-radius: 3px;
    }

    /*-- CARRUCEL DE PRODUCTOS --*/

    .home .productosRelacionados .relacionado{
        width: 90%;
        margin: 0 auto;
    }

    .home .productosRelacionados .relacionado .imagenRelacionado{
        height: 200px;
    }
    
    .home .productosRelacionados .relacionado .imagenRelacionado img{
        height: 190px;
    }
}

/*--PC--*/

@media (min-width : 1024px){
    .flip-box-front h2{
        display: none;
    }
    .imagenes-productos article img {
        height: 370px;
        border-radius: 3px;
    }
    .imagenes-productos article {
        width: 22%;
        margin: 15px;
    }
    .Productos h1 {
        margin: 26px;
        font-size: 50px;
    }

     /*-- CARRUCEL DE PRODUCTOS --*/

     .home .productosRelacionados h2{
        margin:50px 0 40px;
        text-align: center;
        font-size: 46px;
    }

    .home .productosRelacionados .relacionado{
        width: 85%;
        margin: 0 auto;
    }

    .home .productosRelacionados .relacionado .imagenRelacionado{
        height: 180px;
    }
    
    .home .productosRelacionados .relacionado .imagenRelacionado img{
        height: 170px;
    }
}


