.vistaProductos h2{
    font-size: 2em; 
    color: var(--marron);
    margin: 30px auto;
    text-align:center;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    
}

.vistaProductos .productos{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
}

.vistaProductos .producto{
    width: 100%;
    margin: 20px 0;
    box-shadow: 2px 2px 10px #888;
    padding: 10px;
    display:block;
    transition: background-color .5s, box-shadow .5s;
    text-decoration: none;
    justify-self: left;
}

/*.vistaProductos .producto:nth-child(1){
    box-shadow: 2px 2px 10px rgb(173, 87, 30);
}*/

.vistaProductos .producto .productoImg{
    width: 100% !important;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

.vistaProductos .producto .productoImg img{
    width: 80% !important;
    margin: 0 auto;
    display: block;
}

.img2{
    opacity: 1;
    z-index: 1;
    transform: scale(.99);
}

.img1{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 3;
    transition:opacity .5s;
}

.producto:hover .img1{
    opacity: 0;
}


.vistaProductos .productoInfo{
    padding: 10px 0 0;
    margin: 15px 0  0;
    border-top: 1px solid var(--marron);
    transition: border .5s, color .5s;
}

.vistaProductos .productoInfo h3{
    font-weight: 800;
    margin: 0 0 8px;
    text-transform: capitalize;
    color: var(--grisOscuro) !important;
    border:none;
    font-size: 1.3em;
    transition:  color .5s;
    height: 25px;
    overflow:hidden;
}

.vistaProductos .productoInfo p{
    color: var(--marron) !important;
    transition: color .5s;
    text-align: left;
    border:none;
}

.vistaProductos .producto:hover{
    background-color: var(--marron);
    color: #fff !important;
    box-shadow: 0px 0px 5px #888;
}


.vistaProductos .producto:hover  .productoInfo{
    border-top: 1px solid #fff;
}

.vistaProductos .producto:hover  .productoInfo p, .vistaProductos .producto:hover  .productoInfo h3{
    color: #fff  !important;
}

@media (min-width : 768px){
    .vistaProductos .producto .productoImg{
        width: 100% !important;
    }
    
    .vistaProductos .producto .productoImg img{
        width: 100% !important;
    }
    .vistaProductos .productos{
        width: 90%;
    }  
    
    .vistaProductos .producto{
        width: 31%;
    }
}

/*--desktop--*/

@media (min-width : 1024px){
    .vistaProductos .producto .productoImg{
        width: 100% !important;
    }
    
    .vistaProductos .producto .productoImg img{
        width: 100% !important;
    }
    .vistaProductos .productos{
        width: 85%;
    } 

    .vistaProductos .producto{
        width: 23%;
    }
}