body {
  font-family: 'Karla', sans-serif;
  margin: 0%;
  


} 

* {
  box-sizing: border-box;
}

.contenedor {
  width: 100%;
  padding: 15px;
}

.formulario {
  background: #fff;
  margin-top: 150px;
  padding: 3px;
}

h1 {
  text-align: center;
  color: #181913;
  font-size:40px;
}

.registro input[type="text"],
.registro input[type="password"] {
  font-size: 20px;
  width: 82%;
  padding: 10px;
  border: none;
}

.input-contenedor {
  margin-bottom: 15px;
  border: 1px solid #aaa;
}

.icon{
  min-width: 50px;
  text-align: center;
}

.button {
  border: none;
  width: 100%;
  color: white;
  font-size: 20px;
  background: #181913; 
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background: #957255;
}

.registro p {
  text-align: center;
}

.link {
  text-decoration: none;
  color:#181913 ;
  font-weight: 600;
}
.link:hover {
  color:#957255 ;
}

@media(min-width:768px)
{
  .formulario {
      margin: auto;
      width: 500px;
      margin-top: 150px;
      border-radius: 2px;
  }
}

