
    <footer>
        <section class="secciones">

            <section class="contacto">
                <a href="#">CONTACTO</a>

                <p><i class="fab fa-instagram"></i> Instagran.com/lazlo</p>
                </i>

                <p><i class="fab fa-facebook-square"></i> faceboook.com/lazlo</p>
                </i>

                <p><i class="fab fa-twitter"></i> twitter.com/lazlo</p>
                </i>
                <p><i class="fas fa-envelope-open-text"></i> info@lazlo.com</p>
                </i>
            </section>

            <section class="pagos">
                <a href="#">MÉTODOS DE PAGO</a>
                <i class="fab fa-cc-mastercard"></i>
                <i class="fab fa-cc-paypal"></i>
                <i class="fab fa-cc-amex"></i>
                <i class="fab fa-cc-diners-club"></i>
                <i class="fab fa-cc-visa"></i>
            </section>


            <section class="mapa">
                <a href="#">DIRECCIÓN</a>
                <p>Calle 123, lugar</p>
                <img src="/images/mapa-footer.jpg" alt="">
            </section>
        </section>
    </footer>