<% if (locals.loginUsuario && locals.loginUsuario.rol === 2 ) { %>
  <header class="headerAdmin">
    <nav class="navAdmin_productos">
      <a href="/productos/administrador"><i class="fas fa-user-cog"></i><p> Administrador</p> </a>
      <a href="/productos/agregar-productos"><i class="fas fa-plus"></i><p> Agregar productos</p></a>
      </ul>
    </nav>

    <nav class="navAdmin">
      <a href="/users/perfilAdmin" class="navAdmin_btn">
        <p>Hola, <%= locals.loginUsuario.firstName %>
        </p> <img src="/images/users/<%= locals.loginUsuario.image %>" alt="">
      </a>
    </nav>
  </header>
  <% } else {%>
    <span></span>
    <% } %>

      <header>
        <a href="/" class="logo">
          <img src="/images/logo6.png" alt="" />
        </a>
        <aside class="headerNav">
          <div class="btn-cerrarMenu">
            <i class="fas fa-times"></i>
          </div>
          <nav>
            <ul>
              <li><a href="/productos/categoria/mochilas">mochilas</a></li>
              <li><a href="/productos/categoria/indumentaria">indumentaria</a></li>
              <li><a href="/historia">historia</a></li>



              <li><a href="/comunidad">comunidad</a></li>

              <form action="/search" id ="buscar" class="busqueda">
                <input type="search" name="busqueda" id="busqueda" placeholder="Busca tu producto..." />
                <button ><i class="fas fa-search"></i></button>
              

              </form>
            </ul>
          </nav>
        </aside>
        <div class="btns-menu">
          <% if (locals.loginUsuario && locals.loginUsuario.rol === 1 ){ %>
            <div class="btn-profile">
              <a href="/users/perfil">
                <div class="avatar-usuario">
                  <img src="/images/users/<%= locals.loginUsuario.image %> " alt="" />
                  <h2>
                    <%= locals.loginUsuario.firstName %>
                  </h2>
                </div>
              </a>
            </div>
            <% }else { %>
              <div class="btn-user">
                <a href="/users/login"><i class="fas fa-user"></i></a>
              </div>

              <% } %>
               
             
    
                  <button type="button" class="btn-carrito" data-bs-toggle="modal" data-bs-target="#modal-carrito">
                    <i class="fas fa-shopping-bag"></i>
                    <% if (locals.loginUsuario) { %>
                    <span class="badge cantidad" ></span>
                    <% } %>
                  </button>
                
              
                
                <!--div class="btn-carrito">
                  <a href="/carrito"><i class="fas fa-shopping-bag"></i></a>
                </!--div-->
                <div class="btn-menu">
                  <i class="fas fa-bars"></i>
                </div>
        </div>
      </header>
      <script src="/javascripts/buscador.js"></script>

      <!-- carrito -->
    <aside>
      <div class="modal fade" id="modal-carrito" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content" id="miCarrito">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Mi changuito</h5>
            </div>
            <div class="modal-body" id="lista-carrito">
              <div class="table-responsive">
                <table class="table">
                  <thead id="cart-head">
                    <tr>
                      <th colspan="3">Producto</th>
                      <th scope="col">Precio</th>
                      <th scope="col">SubTotal</th>
                    </tr>
                  </thead>
                  <tfoot id="cart-footer">
                    <tr>
                      <th colspan="4"  class="text-end" id="totaltitle">TOTAL:</th>
                      <th >
                        <h5 id="total"></h5>
                      </th>
                    </tr>
                  </tfoot>
                    <tbody>
                      <span id="cart-empty" class="text-danger">El carrito no tiene productos agregados</span>
                    </tbody>
                   
                  </table>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-danger" id="btn-delete-cart">Vaciar carrito</button>
              <button type="button" class="btn btn-sm btn-success" data-bs-dismiss="modal">Seguir comprando</button>
              <a href="#" class="btn btn-sm btn-primary" id="btn-next-buy"> Finalizar compra</a>
            </div>
          </div>
        </div>
      </div>
    </aside>