<header>
    <a href="/" class="logo">
        <img src="images/logo.png" alt="">
    </a>
    <aside class="headerNav ">
        <div class="btn-cerrarMenu">
            <i class="fas fa-times"></i>
        </div>
        <nav>
            <ul>
                <li><a href="#">mochilas</a></li>
                <li><a href="#">indumentaria</a></li>
                <li><a href="#">historia</a></li>
                <li><a href="#">comunidad</a></li>

                <form action="" class="busqueda">
                    <input type="search" name="busqueda" id="busqueda" placeholder="Busca tu producto...">
                    <i class="fas fa-search"></i>
                </form>
            </ul>
        </nav>
    </aside>
    <div class="btns-menu">
        <div class="btn-user">
            <a href="/login"><i class="fas fa-user"></i></a>
        </div>
        <div class="btn-carrito">
            <a href="/carrito"><i class="fas fa-shopping-bag"></i></a>
        </div>
        <div class="btn-menu">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</header>