
<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head')%> 

<body>
     
    <%-include('./partials/header')%> 
    <main>
        
        <div class="contenedor">
            <div class="contenedorImagen">
              <img src="/images/historiav.jpg" alt="">
            </div>
            <div class="descripcion">
                <h2>Nuestra Historia</h2>
                <p>En Lazlo, estamos arraigados en la cultura de la montaña y la vida al aire libre,
                    nos encanta explorar ciudades y viajar por el mundo,por eso brindamos a nuestra familia el equipamento necesario para disfrutarlo.
                    Buscamos inspiración en los clásicos y aprovechamos las tecnologías innovadoras para garantizar funcionalidad y diseño.
                    Brindamos estilo a través de la simplicidad.
                    Nuestro objetivo es no tener que elegir un solo camino; queremos vivir en ambos lados de la cerca, donde la vida sea siempre más verde.</p>
            </div>
        </div>
        <div class="contenedor">
            <div class="descripcion">
                <h2>Nuestro Presente</h2>
                <p>Hoy en día, todavía estamos en el modo de hacer cosas que queremos usar como individuos y conectarnos con nuestros clientes como marca. 
                    Queremos producir los productos más duraderos, versátiles y hermosos que se puedan usar en la ciudad, en los senderos y viajando por el mundo.
                     Sabemos que nada es más frustrante que sentirse decepcionado por su propio equipo, así que eso nos motiva a hacer que las cosas duren. 
                     Productos sencillos, clásicos y bien diseñados que se inspiran en quiénes somos y dónde vivimos.</p>
            </div>
            <div class="contenedorImagen">
              <img src="/images/senderimage.jpg" alt="">
            </div>
            
        </div>
        <div class="contenedor">
            <div class="contenedorImagen">
              <img src="/images/imaggen.webp" alt="">
            </div>
            <div class="descripcion">
                <h2>Sustentabilidad</h2>
                <p>Es el pilar desde nuestros inicios,
                     comenzando desde el núcleo con la construcción de alta calidad, duradera, productos duraderos. 
                    Con la compra de nuestros productos seleccionados ,realiza un aporte monetario equivalente a la siembra
                     de un arbol autoctono en su ciudad de residencia ayudando a reforestar el planeta,colaborando asi,en la lucha contra el cambio climatico.
                    Sumérjase más en la sostenibilidad y nuestro proceso de fabricación con nosotros a continuación.</p>
            </div>
            
            
        </div>
        <div class="contenedor">
            <div class="descripcion">
                <h2>Nosotros</h2>
                <p>Somos viajeros. Soñadores. Optimistas.
                     Creemos que el mundo será mejor mañana de lo que es hoy.
                      Creemos en la familia. Arquitectura abierta. Puentes, no muros. Creemos que los viajes,
                       en nuestros patios traseros, a través de los océanos y el espacio exterior,
                     tienen el poder de abrir nuestras mentes y dar forma a nuestras vidas. <p>
            </div>
            <div class="contenedorImagen">
              <img src="/images/trekking-senderos-y-rutas-600x450.jpg" alt="">
            </div>
            
        </div>
        
    </main>

    <%-include('./partials/footer')%> 
    <script src="/javascripts/cart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
</body>
</html>