
<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head')%> 

<body>
     
    <%-include('./partials/header')%> 
    <main>
        
        <div class="contenedor">
            <div class="contenedorImagen">
              <img src="/images/historiav.jpg" alt="">
            </div>
            <div class="descripcion">
                <h2>Nuestra Historia</h2>
                <p>En Lazlo, estamos arraigados en la cultura de la montaña y la vida al aire libre,
                    nos encanta explorar ciudades y viajar por el mundo,por eso brindamos a nuestra familia el equipamento necesario para disfrutarlo.
                    Buscamos inspiración en los clásicos y aprovechamos las tecnologías innovadoras para garantizar funcionalidad y diseño.
                    Brindamos estilo a través de la simplicidad.
                    Nuestro objetivo es no tener que elegir un solo camino; queremos vivir en ambos lados de la cerca, donde la vida sea siempre más verde.</p>
            </div>
        </div>
        <div class="contenedor">
            <div class="descripcion">
                <h2>titulo</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque rem numquam cumque maxime doloremque ab possimus repellendus explicabo itaque? Facere nostrum illo, dolore laboriosam vitae sunt dignissimos rem totam. Molestiae?</p>
            </div>
            <div class="contenedorImagen">
              <img src="/images/senderimage.jpg" alt="">
            </div>
            
        </div>
        <div class="contenedor">
            <div class="contenedorImagen">
              <img src="/images/Los-mejores-bastones-de-trekking-para-iniciarse-en-el-senderismo.jpg" alt="">
            </div>
            <div class="descripcion">
                <h2>titulo</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, exercitationem ab! Dolore voluptatibus in nobis totam. Odio quia odit enim autem? Vitae, aspernatur amet recusandae possimus optio cumque mollitia dolore.</p>
            </div>
            
            
        </div>
        <div class="contenedor">
            <div class="descripcion">
                <h2>titulo</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque rem numquam cumque maxime doloremque ab possimus repellendus explicabo itaque? Facere nostrum illo, dolore laboriosam vitae sunt dignissimos rem totam. Molestiae?<p>
            </div>
            <div class="contenedorImagen">
              <img src="/images/trekking-senderos-y-rutas-600x450.jpg" alt="">
            </div>
            
        </div>
        
    </main>

    <%-include('./partials/footer')%> 
</body>
</html>