<!DOCTYPE html>
<html lang="en">

   <%-include('./partials/head')%> 
<body background="/images/fondo.jpg">
    
   <%-include('./partials/header')%> 

 <main> 
<form class="formulario">

     <h1>Registrate </h1>
     <div class="contenedor">

     <div class="input-contenedor">
        <i class="fas fa-user icon"></i>
        <input type="text" placeholder="Nombre Completo">

         </div>
    
         <div class="input-contenedor">
            <i class="fas fa-envelope icon"></i>
            <input type="text" placeholder="tucorreo@hotmail.com">

             </div>

             <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input type="password" placeholder="Contraseña">
                 </div>
                  <input type="submit" value="Registrate" class="button"> <br>
                 <br> <p>Al registrarte aceptas las Condiciones de uso y Política de privacidad.  </p> <br>
                  <p>¿Ya tienes una cuenta? <a class="link" href="/login">Iniciar sesión </a> </p>


     </div>
    </form>
</main>
<%-include('./partials/footer')%> 
 </body>


 </html> 
    